/*
 * General Styles (can be overridden or not)
 * [Based on Twitter's Bootstrap Default Theme]
 * 
 * Red: #f00
 * Bright Blue: #4bafd8
 * Yellow: #face33
 * Dark Grey: #333
 * Mid Grey: #676767
 * 
 * Page Titles:               font-family: 'Open Sans Semibold', Helvetica, Arial, sans-serif; font-size: 24pt; color: #333;
 * Subheads:                  font-family: 'Open Sans Italic', Helvetica, Arial, sans-serif; font-size: 19pt; color: #666;
 * Reg. Navigation Link:      font-family: 'Open Sans Semibold', Helvetica, Arial, sans-serif; font-size: 13pt; color: #999;
 * Active Navigation Link:    color: #f00;
 * Links in Content:          font-family: 'Open Sans', Helvetica, Arial, sans-serif; font-size: 12pt; color: #4bafd8; text-decoration: none;
 * Active Links in Content:   color: #186198;
 * Large Links:               font-family: 'Open Sans Semibold', Helvetica, Arial, sans-serif; font-size: 13pt; color: #4bafd8; text-decoration: none;
 * Body Text:                 font-family: 'Open Sans', Helvetica, Arial, sans-serif; font-size: 12pt; color: #333;
 * Table Header Cells:        font-family: 'Open Sans', Helvetica, Arial, sans-serif; font-size: 11pt; text-transform: uppercase; color: #333;
 * Top Bar:                   height: 54px; width: 100%; background-color: #f00; border-bottom: 1px solid #b23028;
 * Left Bar:                  background-color: #f7f7f7; border-right: 1px solid #e1e1e1;
 * Primary Buttons:           font-family: 'Open Sans Semibold', Helvetica, Arial, sans-serif; font-size: 13pt; background-color: #48bafd8;
 * Secondary Buttons:         background-color: #bbb;
 * Red Buttons:               background-color: #f00;
 * Chart colors:
 * {
      'blue':'#00f',
      'bright-blue':'#4bafd8',
      'dark-grey':'#333',
      'green':'#46a200',
      'light-grey':'#999',
      'mid-grey':'#666',
      'orange':'#f93',
      'purple':'#9f00e7',
      'revee-red':'#f00',
      'yellow':'#ffd500'
    };
 */
.page-title {
  color: #333;
  display: inline-block;
  font-family: 'Open Sans Semibold', Helvetica, Arial, sans-serif;
  font-size: 24pt;/* style guide says 24pt, but that is too large; I used 1.3em */
  margin: 15px 0 0 10px;
  text-transform: uppercase;
}
.subhead {
  color: #666;
  font-family: 'Open Sans Italic', Helvetica, Arial, sans-serif;
  font-size: 19pt;
  /* Open Sans Italic usually isn't available, so this is necessary; to get same look, the following are provided */
  font-style: italic;
  font-weight: normal;
  margin: 20px 0 0 10px;
}
.nav-link {
  color: #999;
  'Open Sans Semibold', Helvetica, Arial, sans-serif;
  font-size: 13pt;
  margin-left: 10px;
  text-decoration: none;
}
.selected > .nav-link,
.nav-link:hover {
  color: #f00;
  cursor: pointer;
}
a {
  color: #4bafd8;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 12pt;
  text-decoration: none;
}
a:hover { color: #186198; }
.large-link {
  color: #4bafd8;
  font-family: 'Open Sans Semibold', Helvetica, Arial, sans-serif;
  font-size: 13pt;
  text-decoration: none;
}
body {
  color: #333;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 12pt;
}
table th {
  color: #333;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 11pt;
  padding: 0 0 10px 25px;
  text-align: left;
  text-transform: uppercase;
}
#top-bar {
  background-color: #f00;/* style guide says #ff0000, but that doesn't match the logo; I used #ea373e*/
  background-image: url('/logo-horizontal-white.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  border-bottom: 1px solid #b23028;
  color: #fff;

  /* Below is structural info: DO NOT CHANGE */
  height: 54px;
  left: 0; /*Set left value to WidthOfLeftFrameDiv*/
  overflow: hidden; /*Disable scrollbars. Set to "scroll" to enable*/
  position: absolute; 
  right: 0;
  top: 0;
  width: auto;
}
#left-bar {
  background-color: #f7f7f7;
  color: #999;
  font-family: 'Open Sans Semibold', Helvetica, Arial, sans-serif;
  font-size: 13pt;
  border-right-width: 1px;

  /* Below is structural info: DO NOT CHANGE */
  height: 100%;
  left: 0; 
  overflow: hidden; /*Disable scrollbars. Set to "scroll" to enable*/
  top: 55px; /*Set top value to HeightOfTopFrameDiv + topframe borderwidth*/
  width: 245px; /*Width of left frame div*/
  position:absolute;
}
.button,
input[type="submit"] {
  border: 1px solid #999;
  border-radius: 5px;
  cursor: pointer;
  display: inline;
  font-family: 'Open Sans Semibold', Helvetica, Arial, sans-serif;
  font-size: 9pt;
  height: 30px;
  padding: 8px;
  text-align: center;
  vertical-align: middle;
  width: 70px;
  text-transform: uppercase;
}
.primary-button,
.button.selected,
input[type="submit"] {
  background-color: #4bafd8;
  color: #fff;
}
.secondary-button { background-color: #bbb; }
.red-button { background-color: #f00; }
/*
 * Start Overrides
 */
#left-bar,
#left-bar ul > li.selected:before {
  border-right-color: #e1e1e1;
  border-right-style: solid;
}

#top-bar .button {
  border: none;
  border-left: 1px solid #b23028;
  border-radius: 0;
  color: #fff;
  cursor: pointer;
  float: right;
  height: 100%;
  padding: 0;
  vertical-align: middle;
  min-width: 125px;
}
#top-bar .button a {
  color: #fff;
  display: block;
  font-size: 13pt;
  padding: 19px;
  text-decoration: none;
}
#top-bar .button:hover { background-color: #ef757b; }
/*
 * Basic Structure Styles
 */
body{
  color: #333;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 12pt;

  /* Below is structural info: DO NOT CHANGE */
  border: 0;
  margin: 0;
  height: 100%; 
  max-height: 100%; 
  overflow: hidden;
  padding: 0;
}
#main-content{
  background: #fff;
  bottom: 0;
  left: 251px; /*Set left value to WidthOfLeftFrameDiv + leftframe borderwidth*/
  overflow: auto; 
  padding-bottom: 50px;
  position: fixed; 
  right: 0;
  top: 55px; /*Set top value to HeightOfTopFrameDiv + topframe borderwidth*/
/*min-width: 1180px;*//*this makes the site hard to view on small screens, but prevents chart overlap */
}
.innertube{ margin: 15px; } /*Margins for inner DIV inside each DIV (to provide padding)*/
/*
 * End Basic Structure Styles
 */
/*
 * Navigation Styles
 */
#left-bar ul ul > li { padding: 10px 0; }
#left-bar ul > li.selected .nav-expand-arrow { color: #ff0000; } /* style guide says #ff0000, but that seems too vibrant; I used #ea373e */
#left-bar ul {
  list-style-type: none;
  margin: 0 0 0 20px;
  padding: 0;
}
#left-bar ul > li.selected:after {
  border-color: transparent #fff transparent transparent;
  border-style: solid;
  border-width: 7px;
  content: '';
  display: block;
  height: 0;
  left: 212px;
  position: absolute;
  top: 0;
  width: 0;
}
#left-bar ul > li.selected:before {
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-style: solid;
  border-width: 8px;
  content: '';
  display: block;
  height: 0;
  left: 209px;
  position: absolute;
  top: -1px;
  width: 0;
}
#left-bar .nav-expand-arrow {
  cursor: pointer;
  float: right;
  font-size: 2.3em;
  height: 20px;
  margin-right: 20px;
  overflow: hidden;
  text-align: center;
  vertical-align: middle;
  width: 20px;
}
.nav-cont {
  position: fixed;
  width: 245px;
}
.nav-cont > ul > li {
  border-bottom: 1px solid #999; /* style guide says #999, but that doesn't match mock; I used #e1e1e1 */
  color: #b3b3b3;
  font-family: 'Open Sans Semibold', Helvetica, Arial, sans-serif;
  font-size: 13pt;/* style guide says 13pt, but that looks too large; I used .85em */;
  margin: 20px 20px 20px 0;
  position: relative;
}
/*
 * End Navigation Styles
 */
.top-section {
  border-bottom: 1px solid #999; /* style guide says #999, but that doesn't match mock; I used #e1e1e1 */
  padding-bottom: 20px;
}
#cht-direct-compare { width: 365px; height: 250px; }
#cht-vert-breakout { width: 100%; height: 350px; }/* 750px */
.stand-alone-stat {
  color: #333;
  font-size: 50pt;
  font-weight: bold;
  margin-bottom: 55px;
}
/*
 * RPM Table Styles
 */
table {
  border-collapse: collapse;
  margin-top: 15px;
  width: 90%;
}
table tr { border-bottom: 1px solid #ccc; }
table tbody td { padding: 15px 15px 15px 25px; }
/*
 * End RPM Table Styles
 */
/*
 * Top Page Styles
 */
.top-page {
  border: 1px solid #ccc;
  display: inline-table;
  height: 229px;
  margin: 10px;
  position: relative;
  width: 275px;
}
.top-page .top-section {
  background-color: #eee;
  height: 170px;
  padding: 10px;
}
.top-page .bottom-section { display: table; }
.top-page .top-section img {
  border: 0;
  height: 125px;
  margin-bottom: 10px;
  width: 100%;
  background-color: #fff;
}
.top-page a,
.top-page a:visited {
  color: #4bafd8;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 12pt;
  text-decoration: none;
}
.top-page-lbl {
  color: #333;
  display: block;
  font-size: .75em;
  font-weight: bold;
  margin-bottom: 5px;
  text-transform: uppercase;
}
.top-page-stat {
  border: 1px solid #ccc;
  border-collapse: collapse;
  display: table-cell;
  height: 100%;
  padding: 10px;
  text-align: center;
  vertical-align: middle;
  width: 100%;
}
.top-page .rank {
  background: #333;
  border-radius: 50%;
  color: #fff;
  height: 30px;
  overflow: hidden;
  position: absolute;
  right: -15px;
  text-align: center;
  top: -15px;
  vertical-align: middle;
  width: 30px;
  z-index: 1;
}
.top-page .rank span {
  position: relative;
  top: 6px;
}
/*
 * // End Top Page Styles
 */
/**
 *   Page Filter Styles
 */
.page-filters {/* float messes up the display values: https://developer.mozilla.org/en-US/docs/Web/CSS/float */
  display: inline-block;
  margin: 15px 0 0 10px;
  position: absolute;
  right: 20px;
  top: 15px;
}
.cht-header {
  position: relative;
  margin-bottom: 6px;
}
.cht-filters {
  position: absolute;
  top: 0px;
  right: 15px;
}
.select-cont,
input[type="text"],
input[type="password"] {
  border: 1px solid #999;
  border-radius: 5px;
  color: #333;
  display: inline-block;
  height: 30px;
  margin: 0;
  padding: 0;
  position: relative;
  text-align: center;
  vertical-align: middle;
}
.select-cont {
  border-color: #999;
  overflow: hidden;
  width: 120px;
}
select {
  background-color:transparent;
  background-image:none; 
  border: none;
  box-shadow:none; 
  color: #333;
  padding: 7px 0 10px 9px;
  position: relative;
  text-align: left;
  width: 115%;
  z-index: 1;
  -webkit-appearance: none; /* this is required for Webkit browsers (Safari, Chrome) */;
}
input[type="text"] { width: 80px; }
.dropdown-arrow {
  display: inline;
  font-size: .7em;
  position: absolute;
  right: 5px;
  top: 9px;
}
.flat-left {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.flat-right {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
/*
 * // End Page Filter Styles
 */
