<p>{errorMessage}</p>
<form action="/login/" method="post">
  <input type="text" name="username" placeholder="Username" />
  <input type="password" name="password" placeholder="Password" />
  <input type="hidden" name="url" value="{url}" />
  <input type="submit" value="Login" />
</form>