<ul>
  <li {if dashboardSelected}class="selected"{/if}>
    <a href="/" class="nav-link">Dashboard</a>
    <div class="arrow-left">&nbsp;</div>
  </li>
  <li {if salesSelected}{if onMainPage}class="selected"{/if}{/if}>
    <a href="/sales/" class="nav-link">Sales / Operations</a>
    <span class="nav-expand-arrow">&caron;</span>
    <div class="arrow-left">&nbsp;</div>
    {if salesSelected}
      <ul>
        <li {if topPerformingSelected}class="selected"{/if}><a href="/sales/topperforming/" class="nav-link">Top Performing Pages</a></li>
        <li {if widgetsSelected}class="selected"{/if}><a href="/sales/widgets/" class="nav-link">Widgets</a></li>
      </ul>
    {/if}
  </li>
  <li {if marketingSelected}{if onMainPage}class="selected"{/if}{/if}>
    <a href="/marketing/" class="nav-link">Marketing</a>
    <span class="nav-expand-arrow">&caron;</span>
    <div class="arrow-left">&nbsp;</div>
    {if marketingSelected}
      <ul>
        <li {if createFeedSelected}class="selected"{/if}><a href="/marketing/createfeed/" class="nav-link">Create RSS Feed</a></li>
        <li {if rssFeedsSelected}class="selected"{/if}><a href="/marketing/rssfeeds/" class="nav-link">RSS Feeds</a></li>
      </ul>
    {/if}
  </li>
  <li {if editorialSelected}{if onMainPage}class="selected"{/if}{/if}>
    <a href="/editorial/" class="nav-link">Editorial</a>
    <span class="nav-expand-arrow">&caron;</span>
    <div class="arrow-left">&nbsp;</div>
    {if editorialSelected}
      <ul>
        <li {if topTenKeywordsSelected}class="selected"{/if}><a href="/editorial/toptenkeywords/" class="nav-link">Top Ten Key Words</a></li>
        <li {if topPerformingSelected}class="selected"{/if}><a href="/editorial/topperforming/" class="nav-link">Top Performing Pages</a></li>
      </ul>
    {/if}
  </li>
</ul>