<div class="cht-header">
  <h2 class="subhead">Vertical Breakout</h2>
  <div class="cht-filters">
    <div class="button flat-right {if pvSelected}selected{/if}" data-param="chtView" data-val="pv">PVs</div><div class="button flat-left {if rpmSelected}selected{/if}" data-param="chtView" data-val="rpm">RPM</div>
    <div class="select-cont">
      <select>
        <option selected="selected">Choose Verticals</option>
      </select>
      <span class="dropdown-arrow">&#9660;</span>
    </div>
    <div class="button flat-right {if daySelected}selected{/if}" data-param="chtTime" data-val="day">Day</div><div class="button flat-left flat-right {if weekSelected}selected{/if}" data-param="chtTime" data-val="week">Week</div><div class="button flat-left {if monthSelected}selected{/if}" data-param="chtTime" data-val="month">Month</div>
  </div>
</div>
<div id="cht-vert-breakout">&nbsp;</div>
<h2 class="subhead">Top Performing Pages</h2>
<div>
  {for page in pages}
    <div class="top-page">
      <div class="rank">
        <span>{page.rank}</span>
      </div>
      <div class="top-section">
        <div><a href="{page.img}"><img src="{page.img}" /></a></div>
        <div><a href="{page.img}">{page.title}</a></div>
      </div>
      <div class="bottom-section">
        <div class="top-page-stat"><span class="top-page-lbl">Views</span>{page.views}</div><div class="top-page-stat">
          <span class="top-page-lbl">RPM</span>{page.rpm}</div><div class="top-page-stat">
          <span class="top-page-lbl">Revenue</span>{page.revenue}</div>
      </div>
    </div>
  {/for}
</div>