<h2 class="subhead">Overall Site RPM</h2>
<div class="stand-alone-stat">{siteRPM}</div>
<h2 class="subhead">Direct vs. Indirect vs. House</h2>
<div id="cht-direct-compare">&nbsp;</div>
<h2 class="subhead">RPM by Platform</h2>
<table>
  <thead>
    <th>Type</th>
    <th>RPMs</th>
  </thead>
  <tbody>
    {for row in rows}
    <tr>
      <td>{row.type}</td>
      <td>{row.rpms}</td>
    </tr>
    {/for}
  </tbody>
</table>
